# Ignore the target directory except the built JAR
target/
!target/*.jar

# Ignore common IDE and tool config files
*.class
*.log
*.tmp
*.out
*.iml
.idea/
.vscode/
*.swp

# Ignore sensitive files
**/node_modules/
**/build/
