<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uppáhalds Uppskriftir</title>
    <link rel="stylesheet" th:href="@{/css/home.css}"> <!-- Use home.css styling -->
</head>
<body>
<div class="topnav">
    <a class="active" href="/">Heim</a>
    <a href="/user-recipes">Uppskriftirnar Mínar</a>
    <a href="/favorites">Uppáhalds Uppskriftir</a>
    <a href="/settings">Stillingar/Mínar Síður</a>
    <a href="/createRecipe">Ný uppskrift</a>
    <a href="/logout" class="split">Skrá þig út</a>
</div>

<div th:if="${LoggedInUser != null}">
    <h1 th:text="'Uppáhalds uppskriftir fyrir ' + ${LoggedInUser.username}"></h1>
</div>

<div th:switch="${favoriteRecipes}">
    <!-- Case when the list is empty -->
    <h3 th:if="${favoriteRecipes.empty}">Engar uppáhalds uppskriftir :(</h3>

    <!-- Case when there are favorite recipes -->
    <div th:unless="${favoriteRecipes.empty}">
        <h2>Þínar uppáhalds uppskriftir</h2>

        <!-- Recipe List in Grid -->
        <div class="recipe-grid">
            <!-- Loop through each favorite recipe -->
            <div class="recipe-card" th:each="recipe : ${favoriteRecipes}">
                <img class="recipe-image" th:src="${recipe.recipePictureUrl}" alt="Recipe Image">

                <h3>
                    <a th:href="@{'/recipe/' + ${recipe.recipeId}}" th:text="${recipe.title}"></a>
                </h3>

                <p th:text="'Eldunartími: ' + ${recipe.cookTime} + ' mínútur'"></p>
                <p th:text="${recipe.description}"></p>

                <!-- Remove from Favourites Button -->
                <form th:action="@{'/recipe/' + ${recipe.recipeId} + '/removeFromFavorites'}" method="post">
                    <button type="submit" class="remove-button">Fjarlægja úr uppáhaldi</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
