<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uppáhalds Uppskriftir</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="topnav">
    <a class="active" href="/">Heim</a>
    <a href="#userrecipes">Uppskriftirnar Mínar</a>
    <a href="/favorites">Uppáhalds Uppskriftir</a>
    <a href="/settings">Stillingar/Mínar Síður</a>
    <a href="/logout" class="split">Skrá þig út</a>
</div>

<div th:if="${LoggedInUser != null}">
    <h1>Favorites for <span th:text="${LoggedInUser.username}"></span></h1>
</div>

<div th:switch="${favoriteRecipes}">
    <!-- Case when the list is empty -->
    <h3 th:if="${favoriteRecipes.empty}">You have no favorite recipes yet!</h3>

    <!-- Case when there are favorite recipes -->
    <div th:unless="${favoriteRecipes.empty}">
        <h2>Your Favorite Recipes</h2>
        <ul>
            <li th:each="recipe : ${favoriteRecipes}">
                <a th:href="@{'/recipe/' + ${recipe.recipeId}}"><span th:text="${recipe.title}"></span></a>
                <p th:text="'Cook Time: ' + ${recipe.cookTime} + ' minutes'"></p>
                <p th:text="${recipe.description}"></p>

                <!-- Add a "Delete from Favorites" form -->
                <form th:action="@{'/recipe/' + ${recipe.recipeId} + '/removeFromFavorites'}" method="post">
                    <button type="submit">Remove from Favorites</button>
                </form>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
