<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uppskriftir</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<!-- Show Nýskráning and Skrá inn links only if user is not logged in -->
<div th:if="${LoggedInUser == null}">

    <div class="topnav">
        <a class="active" href="/">Heim</a>
        <a href="/signup">Nýskráning</a>
        <a href="/login">Skrá inn</a>
    </div>
</div>
<!-- Show everything here if user is logged in -->
<div th:if="${LoggedInUser != null}">
    <div class="topnav">
        <a class="active" href="/">Heim</a>
        <a href="/user-recipes">Uppskriftirnar Mínar</a>
        <a href="/favorites">Uppáhalds Uppskriftir</a>
        <a href="/settings">Stillingar/Mínar Síður</a>
        <a href="/createRecipe">Ný uppskrift</a>
        <a href="/logout" class="split">Skrá þig út</a>
    </div>

    <h1><span>Velkominn, <span th:text="${LoggedInUser.username}"></span>!</span></h1>
</div>
<div>
    <form method="get" th:action="@{/}">
        <!-- Keyword search -->
        <label for="keyword">Leita með leitarorði:</label>
        <input type="text" id="keyword" name="keyword" placeholder="Leita að uppskriftum..." th:value="${keyword}">

        <!-- Meal Categories -->
        <label>Máltíðaflokkar:</label>
        <div id="mealCategories">
            <label>
                <input type="checkbox" name="mealCategories" value="BREAKFAST" th:checked="${mealCategories != null && mealCategories.contains('BREAKFAST')}"> Morgunmatur
            </label>
            <label>
                <input type="checkbox" name="mealCategories" value="LUNCH" th:checked="${mealCategories != null && mealCategories.contains('LUNCH')}"> Hádegismatur
            </label>
            <label>
                <input type="checkbox" name="mealCategories" value="DINNER" th:checked="${mealCategories != null && mealCategories.contains('DINNER')}"> Kvöldmatur
            </label>
            <label>
                <input type="checkbox" name="mealCategories" value="SNACK" th:checked="${mealCategories != null && mealCategories.contains('SNACK')}"> Millimál
            </label>
        </div>

        <!-- Dietary Restrictions -->
        <label>Fæðisfyrirmæli:</label>
        <div id="dietaryRestrictionsContainer">
            <label>
                <input type="checkbox" name="dietaryRestrictions" value="VEGAN" th:checked="${dietaryRestrictions != null && dietaryRestrictions.contains('VEGAN')}"> Vegan
            </label>
            <label>
                <input type="checkbox" name="dietaryRestrictions" value="VEGETARIAN" th:checked="${dietaryRestrictions != null && dietaryRestrictions.contains('VEGETARIAN')}"> Grænmetisæta
            </label>
            <label>
                <input type="checkbox" name="dietaryRestrictions" value="GLUTEN_FREE" th:checked="${dietaryRestrictions != null && dietaryRestrictions.contains('GLUTEN_FREE')}"> Glútenlaus
            </label>
            <label>
                <input type="checkbox" name="dietaryRestrictions" value="DAIRY_FREE" th:checked="${dietaryRestrictions != null && dietaryRestrictions.contains('DAIRY_FREE')}"> Mjólkurlaust
            </label>
            <label>
                <input type="checkbox" name="dietaryRestrictions" value="NUT_FREE" th:checked="${dietaryRestrictions != null && dietaryRestrictions.contains('NUT_FREE')}"> Hnetulaust
            </label>
        </div>

        <!-- Sort Option -->
        <label for="sortOrder">Sort by:</label>
        <select id="sortOrder" name="sort">
            <option value="asc" th:selected="${sortOrder == 'asc'}">Elst efst</option>
            <option value="desc" th:selected="${sortOrder == 'desc'}">Nýjast efst</option>
            <option value="titillasc" th:selected="${sortOrder == 'titillasc'}">Stafrófsröð</option>
            <option value="titilldesc" th:selected="${sortOrder == 'titilldesc'}">Öfug stafrófsröð</option>
            <option value="cooktimeasc" th:selected="${sortOrder == 'cooktimeasc'}">Stysti eldunartími</option>
            <option value="cooktimedesc" th:selected="${sortOrder == 'cooktimedesc'}">Lengsti eldunartími</option>
        </select>

        <!-- Submit Button -->
        <input type="submit" value="Sía og raða uppskriftir">
        <a href="#" th:href="@{/clearFilters}" class="button">hreinsa síu</a>
    </form>
</div>


<div th:switch="${recipes}">
    <h2 th:case="null">Engar Uppskriftir :(</h2>
    <div th:case="*">
        <h2>Uppskriftir</h2>
        <div class="recipe-grid">
            <div th:each="recipe : ${recipes}" class="recipe-card">
                <img th:src="${recipe.recipePictureUrl}" alt="Recipe Picture" class="recipe-image">
                <h3>
                    <a th:href="@{'/recipe/' + ${recipe.recipeId}}" th:text="${recipe.title}"></a>
                </h3>
                <p><strong>Eldunartími:</strong> <span th:text="${recipe.cookTime}"></span> mín</p>
                <p><strong>Lýsing:</strong> <span th:text="${recipe.description}"></span></p>
                <p><strong>Máltíð:</strong> <span th:each="category : ${recipe.mealCategories}" th:text="${category}"></span></p>
                <p><strong>Mataræði:</strong> <span th:each="restriction : ${recipe.dietaryRestrictions}" th:text="${restriction}"></span></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>