<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Website</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>

<body>
    <header>
        <h1>Uppskirfatsíða?</h1>
    </header>

    <!-- Show "Create Recipe" button only if user is logged in -->
    <div th:if="${LoggedInUser != null}">
        <nav class="topnav">
            <a class="active" href="home">Heim</a>
            <a href="#userrecipes">Uppskriftirnar Mínar</a>
            <a href="/settings">Stillingar/Mínar Síður</a>
            <a href="/favorites">Uppáhalds uppskriftir</a>
        </nav>

        <p><a href="/createRecipe">Create Recipe</a></p>
        <span>Velkomin, <span th:text="${LoggedInUser.username}"></span>!</span>

        <form action="/logout">
            <button type="submit">Log Out</button>
        </form>
    </div>

    <!-- Show Sign Up and Log In links only if user is not logged in -->
    <div th:if="${LoggedInUser == null}">
        <p><a href="/signup">Sign Up</a></p>
        <p><a href="/login">Log In</a></p>
    </div>

    <main>
        <section>
            <div>
                <form th:action="@{/}">
                    Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required/>
                    &nbsp;
                    <input type="submit" value="Search"/>
                    &nbsp;
                    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()"/>

                    <script type="text/javascript">
                        function clearSearch() {
                            window.location = "[[@{/}]]";
                        }
                    </script>
                </form>
            </div>
        </section>

        <section>
            <div th:switch="${recipes}">
                <h2 th:case="null">No Recipes :(</h2>
                <div th:case="*">
                    <h2>Recipes</h2>
                    <table>
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Ingredients</th>
                            <th>Cook Time</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="recipe: ${recipes}">
                            <!-- Create a link to the recipe detail page -->
                            <td><a th:href="@{'/recipe/' + ${recipe.recipeId}}" th:text="${recipe.title}"></a></td>
                            <td th:text="${recipe.ingredients}"></td>
                            <td th:text="${recipe.cookTime}"></td>
                            <td th:text="${recipe.description}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
</body>
</html>

