<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>What user is logged in?</title>
</head>
<body>
<div class="topnav">
    <a class="active" href="home.html">Heim</a>
    <a href="#userrecipes">Uppskriftirnar Mínar</a>
    <a href="settings.html">Stillingar/Mínar Síður</a>
    <a href="#logout" class="split">Log out</a>
</div>
<p th:text="'Welcome, ' + ${LoggedInUser.username}"></p>

<!-- <div class="content">

    <section id="home">
        <h1>Mataruppskriftir</h1>
    </section>
</div> -->
</body>
</html>