<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>
<!-- <div th:switch="${users}">
    <h2 th:case="null">No Users :(</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${recipe.username}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> -->
<body>
<h2>Login to your account</h2>
<form action="#" th:action="@{/login}" th:object="${user}" method="post">
    <input type="text" name="username" id="username" placeholder="username" th:field="*{username}"/>
    <!-- <input type="text" name="email" id="email" placeholder="email" th:field="*{email}"/> -->
    <input type="text" name="password" id="password" placeholder="password" th.field="*{password}"/>
    <input type="submit" value="Login"/>
</form>
</body>

</html>