<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uppskriftina</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>

<div class="topnav">
    <a class="active" href="/">Heim</a>
    <a href="/user/recipes">Uppskriftirnar Mínar</a>
    <a href="/favorites">Uppáhalds Uppskriftir</a>
    <a href="/settings">Stillingar/Mínar Síður</a>
    <a href="/logout" class="split">Skrá þig út</a>
</div>

<h1 th:text="${recipe.title}"></h1>

<p><strong>Hráefni:</strong></p>
<ul>
    <li th:each="ingredient : ${recipe.ingredients}" th:text="${ingredient}"></li>
</ul>

<p><strong>Matreiðslutími:</strong> <span th:text="${recipe.cookTime}"></span> minutes</p>

<p><strong>Lýsing: </strong></p>
<p th:text="${recipe.description}"></p>

<!-- Add to Favorites button (visible only when the user is logged in) -->
<div th:if="${session.LoggedInUser != null}">
    <form th:action="@{'/recipe/' + ${recipe.recipeId} + '/addToFavorites'}" method="post">
        <button type="submit">Bæta við uppáhaldi</button>
    </form>
</div>

<!-- Show a message if the user is not logged in -->
<div th:if="${LoggedInUser == null}">
    <p>Þú þarft að <a href="/login">skrá þig inn</a> til að bæta þessari uppskrift við uppáhaldið þitt.</p>
</div>

</body>
</html>
