<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stillingar</title>
</head>
<body>
<div class="topnav">
    <a class="active" href="/">Heim</a>
    <a href="#userrecipes">Uppskriftirnar Mínar</a>
    <a href="/settings">Stillingar/Mínar Síður</a>
    <a href="/logout" class="split">Log out</a>
</div>

<form action="/updateSettings" th:action="@{/settings}" th:object="${LoggedInUser}" method="post">
    <div>
        <label for="username">New Username:</label>
        <input type="text" id="username" th:field="*{username}" placeholder="Enter new username" />
    </div>

    <div>
        <label for="email">New Email:</label>
        <input type="email" id="email" th:field="*{email}" placeholder="Enter new email" />
    </div>

    <div>
        <label for="password">New Password:</label>
        <input type="password" id="password" th:field="*{password}" placeholder="Enter new password" />
    </div>

    <!-- <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" placeholder="Confirm new password" />
    </div> -->

    <div>
        <button type="submit">Update Settings</button>
    </div>

    <p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></p>
</form>


</body>
</html>