<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nýskráning</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}">
</head>
<body>
    <div class="container">
        <h2>Nýskráning</h2>

    <!-- Display error messages -->
        <div th:if="${errorMessage}" class="error-message" style="color: red;">
            <p th:text="${errorMessage}"></p>
        </div>

    <form action="#" th:action="@{/signup}" method="post">
        <label for="username">Notendanafn:</label>
        <input type="text" id="username" name="username" required/>
        <br>

        <label for="email">Netfang:</label>
        <input type="email" id="email" name="email" required/>
        <br>

        <label for="password">Lykilorð:</label>
        <input type="password" id="password" name="password" required/>
        <br>

        <input type="submit" value="Nýskrá"/>
    </form>
    </div>
</body>
</html>
