<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uppskritirnar Mínar</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="topnav">
    <a class="active" href="/">Heim</a>
    <a href="/user-recipes">Uppskriftirnar Mínar</a>
    <a href="/favorites">Uppáhalds Uppskriftir</a>
    <a href="/settings">Stillingar/Mínar Síður</a>
    <a href="/createRecipe">Ný uppskrift</a>
    <a href="/logout" class="split">Skrá þig út</a>
</div>

<div th:if="${LoggedInUser != null}">
    <h1>Þínar uppskriftir</h1>
</div>

<div th:switch="${userRecipes}">
    <!-- If list is empty -->
    <div th:if="${userRecipes.empty}">
        <h3 >Þú hefur ekki enn birt neinar uppskriftir</h3>
    </div>

    <!-- Case when there are favorite recipes -->
    <div th:unless="${userRecipes.empty}">
        <ul>
            <li th:each="recipe : ${userRecipes}">
                <a th:href="@{'/recipe/' + ${recipe.recipeId}}"><span th:text="${recipe.title}"></span></a>
                <p th:text="'Cook Time: ' + ${recipe.cookTime} + ' minutes'"></p>
                <p th:text="${recipe.description}"></p>

                <form th:action="@{'/recipe/' + ${recipe.recipeId} + '/edit-recipe'}" method="post">
                    <button type="submit">Breyta uppskrift</button>
                </form>
                <form th:action="@{'/recipe/' + ${recipe.recipeId} + '/deleteRecipe'}" method="post">
                    <button type="submit">Eyða Uppskrift</button>
                </form>
            </li>
        </ul>
    </div>
</div>
</body>
</html>