<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uppáhalds Uppskriftir</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="topnav">
    <a class="active" href="/">Heim</a>
    <a href="/user-recipes">Uppskriftirnar Mínar</a>
    <a href="/favorites">Uppáhalds Uppskriftir</a>
    <a href="/settings">Stillingar/Mínar Síður</a>
    <a href="/logout" class="split">Skrá þig út</a>
</div>

<div th:if="${LoggedInUser != null}">
    <h1 th:text="Þínar uppskriftir"></h1>
</div>

<div th:switch="${userRecipes}">
    <!-- If list is empty -->
    <div th:if="${userRecipes.empty}">
        <h3 >Þú hefur ekki enn birt neinar uppskirftir</h3>
    </div>

    <!-- Case when there are favorite recipes -->
    <div th:unless="${userRecipes.empty}">
        <h2>Þínar uppáhalds uppskriftir</h2>
        <ul>
            <li th:each="recipe : ${userRecipes}">
                <a th:href="@{'/recipe/' + ${recipe.recipeId}}"><span th:text="${recipe.title}"></span></a>
                <p th:text="'Cook Time: ' + ${recipe.cookTime} + ' minutes'"></p>
                <p th:text="${recipe.description}"></p>

                <!-- Add delete and edit forms -->
                <form th:action="@{'/recipe/' + ${recipe.recipeId} + '/removeFromFavorites'}" method="post">
                    <button type="submit">Eyða</button>
                    <button type="submit">Eyða</button>
                </form>
            </li>
        </ul>
    </div>
</div>
</body>
</html>